<div class="biblio-box">
    <h1 class="text-center text-uppercase">In this review<h1>
<div class="panel panel-default">
<div class="panel-heading">
<h2 class="panel-title">Food vulnerability in Guatemala: a static general equilibrium analysis</h2>
</div>
<div class="panel-body ">
<p><img src="/img/butler-fledgling.jpg" class="img-responsive" alt="Source: INE (2015)"></p>
<p>Author(s):<p>
<ul>
    <li>Renato Vargas</li>
    <li>Pamela Escobar</li>
    <li>Maynor Cabrera</li>
    <li>Javier Cabrera</li>
    <li>Violeta Hernández</li>
    <li>Vivian Guzmán</li>
</ul>
<p>Year of publication:</p>
<ul>
    <li>2016</li>
</ul>
<p>Published by:</p>
<ul class="resource-metadata-list">
    <li>Partnership for Economic Policy</li>
</ul>
</div>
</div>
</div> <!--End biblio-box -->
