{{ partial "header.html" .}}

{{ partial "navbar.html" }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ .Title }}</h1>
            {{ if .Params.authors }}
            <p class="text-center">By <strong> {{ range $index, $author := .Params.authors }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/authors/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}{{ end }} </strong> on {{ .Date.Format "January 2, 2006" }}</p>

            {{ if .Params.topics }}
            <p class="text-center">
                <small>
                Published in {{ range $index, $topic := .Params.topics }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/topics/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}.
                </small>
				{{ end }}
            </p>
			<p class="text-center">
				<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
				<script type="IN/Share"></script>
			</p>


        </div>

    </div>
    <!-- End row-->
</div>
<!-- End container-->

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p class="lead">
              {{ .Params.lead | markdownify }}
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- End row -->
</div>
<!-- End container -->

<div class="container">
    <div class="row">
		
		
        <div class="col-md-2">

        </div>
		
		
		
        <div class="col-md-7">
            {{ .Content }}
            {{ if .Params.tags }}
            <p>
                <small>
                Tags: {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}.
                </small></p>
				{{ end }}
        </div>
		
		
        <div class="col-md-3 col-xs-8">
			

          <!-- {{ partial "review-sidebar.html"}} -->
		  {{ with .Params.reviewed }}

		  <div class="biblio-box">
		      <h4 class="text-center text-uppercase">In this review</h4>
			  
			  
				  	  
			{{ range . }}	  
				  
		  <div class="panel panel-default">
		  <div class="panel-heading"> 
		  <h4 class="panel-title"><small> <strong>{{  index (index $.Site.Data.resource . ) "title" }}</strong></small> </h4>
		  </div>
		  <div class="panel-body ">
		  <p><img src="{{ index (index $.Site.Data.resource . ) "cover" }}" class="img-responsive center-block" alt="{{ index (index $.Site.Data.resource . ) "title" }}"></p>
		  <p><strong>Author(s):</strong></p>
		  <ul>     
			  {{ range (index (index $.Site.Data.resource . ) "authors" ) }}
			   <li> {{ . }} </li>
			  {{ end }}
		  </ul>

		  <p><strong>Year:</strong></p>
		  <ul>     
			  {{ range (index (index $.Site.Data.resource . ) "date" ) }}
			   <li> {{ . }} </li>
			  {{ end }}
		  </ul>


		  <p><strong>Published by:</strong></p>
		  <ul>     
			  {{ range (index (index $.Site.Data.resource . ) "publishers" ) }}
			   <li> {{ . }} </li>
			  {{ end }}
		  </ul>
		  
		  
		  <a class="btn btn-primary btn-block btn-xs" href="{{ index (index $.Site.Data.resource . ) "link"}}" >Download</a> 

		  
	  </div>
		  </div> <!-- End panel-default -->
		 
		 {{ end }}
		
		  </div> <!--End biblio-box -->
 		 {{ end }}
        </div>
        <!-- End col -->
		
		
		
    </div>
    <!-- End row -->
</div>
<!-- End container -->


{{ partial "footer-nav.html" }}

{{ partial "footer.html" }}
