{{ partial "header.html" .}}

{{ partial "navbar.html" }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ .Title }}</h1>
            {{ if .Params.authors }}
            <p class="text-center">By <strong> {{ range $index, $author := .Params.authors }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/authors/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}{{ end }} </strong> on {{ .Date.Format "January 2, 2006" }}</p>

            {{ if .Params.topics }}
            <p class="text-center">
                <small>
                Published in {{ range $index, $topic := .Params.topics }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/topics/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}.
                </small>
				{{ end }}
            </p>

        </div>

    </div>
    <!-- End row-->
</div>
<!-- End container-->

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p class="lead">
              {{ .Params.lead }}
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- End row -->
</div>
<!-- End container -->

<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-7">
            {{ .Content }}
            {{ if .Params.tags }}
            <p >
                <small>
                Tags: {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}.
                </small>
				{{ end }}
        </div>
        <div class="col-md-3 col-xs-8">
          {{ partial "review-sidebar.html"}}
        </div>
        <!-- End col -->
    </div>
    <!-- End row -->
</div>
<!-- End container -->

</div>

{{ partial "footer-nav.html" }}

{{ partial "footer.html" }}
