<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Changing Wealth</title>
	<meta name="description" content="A working bibliography on the different types of capital for the people who help build better nations">
	<meta name="keywords" content="Natural Capital,Human Capital,Produced Capital,Institutional Capital">
	<meta name="author" content="By CHW Consulting">
	

    <!-- Bootstrap and custom-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lora|PT+Sans" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

{{ partial "navbar.html" }}

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
	 	<h1 class="text-center">Changing Wealth</h1>
	    <p class="text-center"><em>A working bibliography for the people who help build better nations</em></p>
	</div>
	<div class="col-md-1"></div>
	  </div> <!-- End row-->
  </div> <!-- End container-->
	<hr>
		<div class="container">


			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="issue-number">
				<p class="text-center"><small>Latest Reviews</small></p> </div>
			</div>
				<div class="col-md-4"></div>
			</div>

			{{ range first 2 (where .Data.Pages "Section" "review") }}

		<div class="row">
		  <div class="col-md-1 col-sm-0 col-xs-0"></div>
		  <div class="col-md-10 col-sm-12 col-xs-12">
	  	 	<h2><a href="{{ .Permalink }}"> {{ .Title }} </a></h2>
		</div>
		<div class="col-md-1 col-sm-0 col-xs-0"></div>
	</div>
		<div class="row">
		  <div class="col-md-1 col-sm-0 col-xs-0"></div>
		  <div class="col-md-8 col-sm-7 col-xs-12">	
			{{ with .Params.authors }}<p> A review by {{ range $index, $tag := . }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/authors/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}.</p> {{ end }}
			
	  	    <p> {{ with .Params.lead }} {{ . | markdownify }} {{ end }} </p>
			{{ with .Params.tags }}<p> Tags: {{ range $index, $tag := . }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}.</p> {{ end }}
		  </div>
      <div class="col-md-2 col-sm-5 col-xs-12"> 
		  

		  {{ with .Params.reviewed }} {{ range first 1 ( . ) }}
		  <div class="thumbs-box">
		 <img src="{{ index (index $.Site.Data.resource . ) "cover" }}" class="img-responsive center-block" alt="{{ index (index $.Site.Data.resource . ) "title" }}"></div>
		  
		  {{ end }} {{ end }}
		  
	  </div>
		  <div class="col-md-1 col-sm-0 col-xs-0"></div>
      
		</div>
<hr>
		{{ end }}

	</div> <!-- End container -->


<div class="container">
	<div class="row">
		<h3 class="text-center">More from Changing Wealth</h3>
	</div> <!-- End row -->
</div> <!-- End container -->

<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		
		
		{{ range first 4 (after 2 (where .Data.Pages "Section" "review")) }}
	  <div class="col-md-2 col-sm-3 col-xs-6">
		  <div class="thumbs-box">
		  
 		  {{ with .Params.reviewed }} {{ range first 1 ( . ) }}
 		 <img src="{{ index (index $.Site.Data.resource . ) "cover" }}" class="img-responsive center-block" alt="{{ index (index $.Site.Data.resource . ) "title" }}">
 		  {{ end }} {{ end }}
		  <h5> <a href="{{ .Permalink }}" >{{ .Title }} </a></h5>
          {{ with .Params.topics }}
          <p>
              <small>
              In {{ range $index, $topic := . }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/topics/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}{{ end }}  on {{ .Date.Format "January 2, 2006" }}.
              </small> </p>
			
	  </div>
  </div>
	  {{ end }}

	  <div class="col-md-2">

	  </div>
	</div> <!-- End row -->
</div><!-- End container -->


{{ partial "footer-nav.html" }}

{{ partial "footer.html" }}
