{{ partial "header.html" }}

{{ partial "navbar.html" }}

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
	 	<h1 class="text-center">Changing Wealth</h1>
	    <p class="text-center"><em>A working bibliography for the people who help build better nations</em></p>
	</div>
	<div class="col-md-1"></div>
	  </div> <!-- End row-->
  </div> <!-- End container-->
	<hr>
		<div class="container">


			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="issue-number">
				<p class="text-center"><small>Latest Reviews</small></p> </div>
			</div>
				<div class="col-md-4"></div>
			</div>

			{{ range first 2 (where .Data.Pages "Section" "review") }}

		<div class="row">
		  <div class="col-md-1"></div>
		  <div class="col-md-8 col-sm-8">
	  	 	<h2><a href="{{ .Permalink }}"> {{ .Title }} </a></h2>
			{{ with .Params.authors }}<p> By {{ range $index, $tag := . }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/authors/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}.</p> {{ end }}
			
	  	    <p> {{ .Params.lead }} </p>
			{{ with .Params.tags }}<p> Tags: {{ range $index, $tag := . }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}.</p> {{ end }}
		  </div>
      <div class="col-md-2 col-sm-4"><p><img src="img/butler-fledgling.jpg" class="img-responsive" alt="Source: INE (2015)"></p> </div>
		  <div class="col-md-1"></div>
      
		</div>
<hr>
		{{ end }}

	</div> <!-- End container -->


<div class="container">
	<div class="row">
		<h3 class="text-center">More from Changing Wealth</h3>
	</div> <!-- End row -->
</div> <!-- End container -->

<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
	  <div class="col-md-2 col-sm-3 col-xs-6">
		  <h5>Webfonts on the Prairie</h5>
		  <p><img src="img/butler-fledgling.jpg" class="img-responsive" alt="Source: INE (2015)"></p>
	  </div>
	  <div class="col-md-2 col-sm-3 col-xs-6">
		  <h5>Webfonts on the Prairie</h5>
		  <p><img src="img/butler-fledgling.jpg" class="img-responsive" alt="Source: INE (2015)"></p>
	  </div>
	  <div class="col-md-2 col-sm-3 col-xs-6">
		  <h5>Webfonts on the Prairie</h5>
		  <p><img src="img/butler-fledgling.jpg" class="img-responsive" alt="Source: INE (2015)"></p>
	  </div>
	  <div class="col-md-2 col-sm-3 col-xs-6">
		  <h5>Webfonts on the Prairie</h5>
		  <p><img src="img/butler-fledgling.jpg" class="img-responsive" alt="Source: INE (2015)"></p>
	  </div>

	  <div class="col-md-2">

	  </div>
	</div> <!-- End row -->
</div><!-- End container -->


<hr>
<div class="container">

	<div class="row">

		<div class="col-md-1">

		</div>
		<div class="col-md-10">
			<h5 class="text-center">ABOUT &#8226; REVIEWED &#8226; COLOPHON </h5>
		</div>
		<div class="col-md-1">

		</div>

	</div>
</div>
<hr>
<div class="container">
	<div class="row">
		<div class="col-md-1">

		</div>
		<div class="col-md-10">
			<p class="text-center"><small>Copyright &copy; 2015 CHW S.A. and Our Authors</small></p>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


  </body>
</html>
