<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>From Changing Wealth</title>
	

    <!-- Bootstrap and custom-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lora|PT+Sans" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


{{ partial "navbar.html" }}

<div class="container">
    <div class="row">
		<div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="text-center">{{ .Title }}</h1>

              {{ range first 10 .Data.Pages }}
              <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
			  <p> {{ with .Params.authors }}A review by {{ range $index, $tag := . }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/authors/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}{{ end }} - {{ .Date.Format "January 2, 2006" }}</p>
              <p>{{ .Params.lead | markdownify }}</p>
            {{ end }}

        </div>
		<div class="col-md-1"></div>
    </div>
    <!-- End row-->
</div>
<!-- End container-->

{{ partial "footer-nav.html" }}
{{ partial "footer.html" }}
